[submodule "e2tech-api-gateway"]
path = e2tech-api-gateway
url = https://github.com/2tech-US/e2tech-api-gateway.git
[submodule "e2tech-auth-svc"]
path = e2tech-auth-svc
url = https://github.com/2tech-US/e2tech-auth-svc.git
[submodule "e2tech-passenger-svc"]
path = e2tech-passenger-svc
url = https://github.com/2tech-US/e2tech-passenger-svc.git
[submodule "e2tech-booking-svc"]
path = e2tech-booking-svc
url = https://github.com/2tech-US/e2tech-booking-svc.git
[submodule "e2tech-driver-svc"]
	path = e2tech-driver-svc
	url = https://github.com/2tech-US/e2tech-driver-svc.git
